

# --- Docker ---
.env

# --- Python ---
__pycache__/
*.pyc
venv/
.ipynb_checkpoints/
.env.test
*V1.py

# --- Éditeurs ---
.vscode/
.idea/
*.swp
*.swo

# --- Logs ---
*.log

# QGis

*.gpkg
*.qgz


# --- Heavy GIS data ---
DATA
DATA/raw
DATA/work

# the clean.gpkg suite designed used for the prototype and testing
!DATA/
!DATA/clean/
!DATA/clean/*.gpkg

# waiting for architectural decision
dev_tools

