

# --- Docker ---
.env

# --- Python ---
__pycache__/
*.pyc
venv/
.ipynb_checkpoints/
.env.test
*V1.py

# --- Éditeurs ---
.vscode/
.idea/
*.swp
*.swo

# --- Logs ---
*.log

# QGis

*.gpkg
*.qgz


# --- Données SIG lourdes ---
DATA

# waiting for architectural decision
dev_tools